-- MySQL dump 10.13  Distrib 8.0.39, for Win64 (x86_64)
--
-- Host: localhost    Database: oversightdb
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `thermal_image`
--

DROP TABLE IF EXISTS `thermal_image`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thermal_image` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `environmental_condition` enum('CLOUDY','RAINY','SUNNY') DEFAULT NULL,
  `file_name` varchar(255) DEFAULT NULL,
  `file_path` varchar(255) DEFAULT NULL,
  `image_type` enum('BASELINE','MAINTENANCE') DEFAULT NULL,
  `upload_timestamp` datetime(6) DEFAULT NULL,
  `uploader_id` varchar(255) DEFAULT NULL,
  `inspection_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKopg2rj59j3k1undkln3q4x42l` (`inspection_id`),
  CONSTRAINT `FK3y8ecv4hva4v403isqiuumalv` FOREIGN KEY (`inspection_id`) REFERENCES `inspection` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thermal_image`
--

LOCK TABLES `thermal_image` WRITE;
/*!40000 ALTER TABLE `thermal_image` DISABLE KEYS */;
INSERT INTO `thermal_image` VALUES (1,'RAINY','81bc595a-8e5e-4c2c-9f88-b32b0cb615a2_maintenance1.png','uploads\\81bc595a-8e5e-4c2c-9f88-b32b0cb615a2_maintenance1.png','MAINTENANCE','2025-08-24 14:42:29.545414','admin',2),(2,'CLOUDY','e38cc5df-662d-462b-b752-90e4faad64ea_maintenance2.png','uploads\\e38cc5df-662d-462b-b752-90e4faad64ea_maintenance2.png','MAINTENANCE','2025-08-24 14:43:03.082611','admin2',1),(4,'RAINY','482c03ad-6d5e-4dea-9d3a-470f43447404_maintenance4.png','uploads\\482c03ad-6d5e-4dea-9d3a-470f43447404_maintenance4.png','MAINTENANCE','2025-08-24 14:44:09.069790','admin3',4);
/*!40000 ALTER TABLE `thermal_image` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-08-24 14:54:02
